@page "/edituser/{id}"
@inject HttpClient Http
@inject NavigationManager navigationManager
@using UsuarioWebCRUD.Shared;
@using UsuarioWebCRUD.Shared.Models;

<h3>Editar Usuario</h3>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="FirstName">Nombre</label>
                <input form="FirstName" class="form-control" @bind="@user.FirstName" />
            </div>
            <br />
            <div class="form-group">
                <label for="LastName">Apellido</label>
                <input form="LastName" class="form-control" @bind="@user.LastName" />
            </div>
        </div>
        <div class="container mb-3 mt-3">
            <table class="table table-striped table-bordered mydatatable" style="width:100%">
                <thead>
                    <tr>
                        <th>ProfessionId</th>
                        <th>Profession</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var row in data)
                        {
                            if (row.Profession != null)
                            {
                            <tr>
                                <td>@row.Profession.ProfessionId</td>
                                <td>@row.Profession.ProfessionName</td>
                                <td>

                                    <input type="button" value="Borrar" @onclick="@(() => DeleteProfession(row.UserProfession.UserProfessionId))" class="btn btn-primary" />
                                </td>
                            </tr>
                            }
                        }
                </tbody>
            </table>
        </div>

        
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@(() => UpdateUser(user.UserId))" value="Guardar" />
                <input type="button" class="btn" @onclick="@Cancel" value="Cancelar" />

            </div>
        </div>
    </div>
</form>
@code {
    [Parameter]
    public string id { get; set; }

    List<UserData> data = new List<UserData>();

    User user = new User();

    protected override async Task OnInitializedAsync()
    {
        data = await Http.GetFromJsonAsync <List<UserData>>($"api/UserInfoes/{id}");
        user = data.First().User;
    }

    protected async Task DeleteProfession(int id)
    { 
        await Http.DeleteAsync($"api/UserProfessionInfoes/{id}");
        navigationManager.NavigateTo("userlist");
    }

    protected async Task UpdateUser(int id)
    {
        await Http.PutAsJsonAsync($"api/UserInfoes/{id}", user);
        navigationManager.NavigateTo("userlist");
    }
    void Cancel()
    {
        navigationManager.NavigateTo("userlist");
    }
}
